{##
 # This file is part of the T3DatatablesBundle package.
 #
 # (c) stwe <https://github.com/t3cnologic/T3-DatatablesBundle>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}
{% extends 'T3DatatablesBundle:Column:column.html.twig' %}

{% block common %}
    "contentPadding": "{{ column.padding }}",
    "defaultContent": "{{ column.defaultContent }}",
    "name": "{{ column.name }}",
    "orderable": false,
    "searchable": false,
    "title": "{{ column.title }}",
    {% if column.type %}
        "type": "{{ column.type }}",
    {% endif %}
    {% if column.visible %}
        "visible": true,
        "className": "{{ column.class }}",
    {% else %}
        "visible": false,
        "className": "never {{ column.class }}",
    {% endif %}
    "width": "{{ column.width }}",
{% endblock %}

{% block data %}
    "data": "{{ column.data }}",
    "render": function(data, type, row, meta) {
        var actionsString = "";

        {# start html #}
        {% if column.startHtml %}
            actionsString += '{{ column.startHtml|raw }}';
        {% endif %}

        var linkValues = "";

        var routeParameters, attributes, visibleFlag, roleFlag;

        {% for action in column.actions %}
            routeParameters  = new Array();
            attributes = "";
            visibleFlag = true;
            roleFlag = true;

            {% for key, value in action.renderConditions %}
                visibleFlag &= Boolean(row.{{ value }});
            {% endfor %}

            {% if action.role %}
                roleFlag = false;
                {% if app.user is not null and is_granted(action.role) %}
                    roleFlag = true;
                {% endif %}
            {% endif %}

            if (true == visibleFlag && true == roleFlag) {
                {% for key, value in action.routeParameters %}
                    routeParameters["{{ key }}"] = row.{{ value }};
                {% endfor %}

                var route  = Routing.generate("{{ action.route }}", routeParameters);

                {% for key, value in action.attributes %}
                    {% if key == 'data-value' %}
                        attributes += '{{ key }}="'+ row.{{ value }} + '" ';
                    {% elseif key == 'check-values' %}

                        var _valuesComma = '{{ value.values }}';
                        valuesComma = _valuesComma.split(",");

                        var _concatenateComma = '{{ value.concatenate }}';
                        concatenateComma = _concatenateComma.split(",");

                        var valueFinal = 'eci';

                        for (var i = 0; i < valuesComma.length; i++) {
                            if( row[valuesComma[i]] != null )
                            {
                                valueFinal = valuesComma[i];
                                linkValues = concatenateComma[i] + row[valuesComma[i]];
                                break;
                            }
                        }

                        var baseURL = '{{ asset("bundles/public/images/social/") }}';
                        valueFinal = valueFinal.replace('_id', '');
                        var urlImg = baseURL+valueFinal+"-icon.png";
                        var target = 'target="_blank"';

                        if( valueFinal == 'eci' )
                        {
                            linkValues = '#';
                            target = '';
                        }

                        return '<a href="'+linkValues+'" '+target+'><img src="' + urlImg + '" class="img-responsive"  width="40"></a>';

                    {% else %}
                        attributes += '{{ key }}="{{ value }}" ';
                    {% endif %}
                {% endfor %}

                var url  = "<a ";
                url += 'href="' + route + '" ';
                url += attributes;
                {% if action.confirm %}
                    url += 'onclick="' + "return confirm('{{ action.ConfirmMessage }}')" + '" ';
                {% endif %}
                url += ">";

                {% if action.icon %}
                    url += '<span class="{{ action.icon }}"></span> {{ action.label }}';
                {% else %}
                    url += "{{ action.label }}";
                {% endif %}

                url += "</a>";

                actionsString += url;
            }
        {% endfor %}

        {# end html #}
        {% if column.endHtml %}
            actionsString += '{{ column.endHtml|raw }}';
        {% endif %}

        return actionsString;
    },
{% endblock %}
